/*////////////////////////////////////////////////////////////////////////  
Table of Contents:  
	1. Global Styles
    2. Typografy   
    3. Layout    
	    - Reusables
	    - Other
    4. Areas        
		- 4.1 Header        
	    - 4.2 Testimonial        
	    - 4.3 Support        
	    - 4.4 Faq        
	    - 4.5 Footer    
	    5. Queries
////////////////////////////////////////////////////////////////////////*/


.blogpost-detail-component {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
}

.blogpost-detail-component > h1 {
    color: darkorange;
}