/*////////////////////////////////////////////////////////////////////////  
Table of Contents:  
	1. Global Styles
    2. Typografy   
    3. Layout    
	    - Reusables
	    - Other
    4. Areas        
		- 4.1 Header        
	    - 4.2 Testimonial        
	    - 4.3 Support        
	    - 4.4 Faq        
	    - 4.5 Footer    
	    5. Queries
////////////////////////////////////////////////////////////////////////*/


.blogpost-component {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-evenly;
    color: white;
    margin: 1rem;
}

.blogpost-component > li {
    border: solid thin darkorange;
    padding: 0 5px 0 5px;
    border-radius: 1rem;

}

a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

a:active {
    color: orange;
}